@import "tailwindcss";
:root {
  font-family: "Poppins", sans-serif;

  @theme{
    --color-neutral-0: #FAF8F6;
    --color-neutral-200: #F3EDE7;
    --color-neutral-500: #49566D;
    --color-neutral-900: #172339;
    --color-eupatorium-purple-500: #CB30E3;
    --color-light-gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

    --radius-6: 6px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-15: 15px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;

    --text-preset-1: 72px;
    --leading-preset-1: 110%;
    --tracking-preset-1: -1px;

    --text-preset-1-tablet: 56px;
    --tracking-preset-1-tablet: -0.78px;

    --text-preset-1-mobile: 38px;
    --tracking-preset-1-mobile: -0.53px;

    --text-preset-2: 48px;
    --leading-preset-2: 120%;
    --tracking-preset-2: -0.5px;

    --text-preset-3: 20px;
    --leading-preset-3: 160%;
    --tracking-preset-3: 0.11px;

    --text-preset-4: 18px;
    --font-weight-preset-4: bold;
    --leading-preset-4: 160%;
    --tracking-preset-4: -0.18px;

    --text-preset-5: 18px;
    --leading-preset-5: 160%;
    --tracking-preset-5: 0.1px;

    --text-preset-6: 16px;
    --leading-preset-6: 150%;
    --tracking-preset-6: -0.16px;
    --font-weight-preset-6: bold;

    --text-preset-7: 16px;
    --leading-preset-7: 150%;
    --tracking-preset-7: 2.5px;

    --text-preset-8: 15px;
    --leading-preset-8: 160%;
  }
}


