@import "tailwindcss";
:root {
  font-family: "Poppins", sans-serif;

  @theme{
    --color-neutral-0: #FAF8F6;
    --color-neutral-200: #F3EDE7;
    --color-neutral-500: #49566D;
    --color-neutral-900: #172339;
    --color-eupatorium-purple-500: #CB30E3;
    --color-light-gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

    --radius-6: 6px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-15: 15px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
  }

  .text-preset-1{
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -1px;
  }

  .text-preset-1-bold{
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -1px;
  }

  .text-preset-1-tablet{
    font-size: 56px;
    line-height: 110%;
    letter-spacing: -0.78px;
  }

  .text-preset-1-table-bold{
    font-weight: bold;
    font-size: 56px;
    line-height: 110%;
    letter-spacing: -0.78px;
  }

  .text-preset-1-mobile{
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.53px;
  }

  .text-preset-1-mobile-bold{
    font-weight: bold;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.53px;
  }

  .text-preset-2{
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-2-bold{
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-3{
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.11px;
  }

  .text-preset-4{
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.18px;
  }

  .text-preset-5{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.1px;
  }

  .text-preset-6{
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.16px;
  }

  .text-preset-7{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2.5px;
  }

  .text-preset-8{
    font-size: 15px;
    line-height: 160%;
  }
}

